.list {
  width: 1200px;
  overflow-x: auto;
  overflow-y: visible;
  height: 90%;
  margin: auto;
}

.list-temp {

}

.container {
  width: 1600px;
  position: fixed;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
